* {
	font-family: 'Noto Sans KR';
}

body {
	background-color: #e2e1e0;
	display: table;
}

#nav {
	background-color: #2e7d32;
	color: ghostwhite;
	text-align: right;
	width: 100%;
	height: 4rem;
	top: 0;
	margin-bottom: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

#nav h1 {
	letter-spacing: 5px;
	margin: 0 0 0 30px;
	padding: 0;
	font-size: 1.8rem;
	line-height: 4rem;
	float: left;
}

#nav button {
	color: ghostwhite;
	height: 100%;
}

#main {
	text-align: center;
	padding: 0 1rem;
}

#main.main-list {
	position: absolute;
	top: 4rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#main.blank>div {
	color: #aaa;
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#main.blank>div>p:first-child {
	position: relative;
	font-size: 3rem;
	line-height: 3rem;
}

.note {
	background: white;
	border-radius: 2px;
	display: inline-block;
	margin: 1rem;
	position: relative;
	overflow: auto;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	text-align: left;
	min-width: 300px;
}

.note:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.note-header {
	text-align: left;
	width: 100%;
	height: 3rem;
	top: 0;
	font-size: 1.5rem;
	font-weight: 300;
	color: #808080;
}

.note-header>span {
	margin-left: 30px;
	line-height: 3rem;
}

.note-header button {
	height: 100%;
	float: right;
	color: #808080;
}

.note-footer {
	text-align: left;
	width: 100%;
	height: 3rem;
	position: absolute;
	bottom: 0;
	color: #808080;
}

.note-footer .date-stamp {
	line-height: 3rem;
	margin-left: 30px;
	letter-spacing: .2em;
	overflow: hidden;
}

.note-footer button {
	height: 100%;
	color: #808080;
}

.note-footer button.submit {
	float: right;
}

.content {
	padding: 1rem;
	margin-bottom: 3rem;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.content[contentEditable=true] {
	overflow: visible;
}

[contentEditable=true]:empty:not(:focus):before {
	content: attr(data-text);
}

.note-edit {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: calc(100vw - 5.5rem);
	max-width: 800px;
	min-height: 300px;
}