<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>노트 - 편집</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <script src="/js/edit.js"></script>
</head>
<body>
<div id="main">
    <div class="note note-edit">
        <div class="note-header">
            <span>{{date}}</span>
            <button onclick="location.href='/'" class="mdl-button mdl-js-button">
                <i class="material-icons">clear</i>
            </button>
        </div>
        <div id="content" class="content" contentEditable="true" data-text="내용 입력...">{{content}}</div>
        <div class="note-footer">
            <button onclick="reset()" class="mdl-button mdl-js-button">
                <i class="material-icons">refresh</i>
            </button>
            <button onclick="erase()" class="mdl-button mdl-js-button">
                <i class="material-icons">backspace</i>
            </button>
            <button onclick="deleteNote({{id}})" class="mdl-button mdl-js-button">
                <i class="material-icons">delete_forever</i>
            </button>
            <button onclick="submit({{id}})" class="submit mdl-button mdl-js-button">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>
</div>
</body>
</html>