<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>노트</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="main" class="blank">
    <div><p>(;^;)</p><p>{{error}}</p></div>
</div>
</body>
</html>