<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>노트</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <script src="/js/main.js"></script>
    <style id="note-style">
        .note {
            height: 300px;
            width: 300px;
        }
        .note .content {
            max-height: calc(300px - 5rem);
        }
    </style>
</head>
<body>
<div id="nav">
    <h1>Note.</h1>
    <button onclick="location.href='/new'" class="mdl-button mdl-js-button">
        <i class="material-icons">add</i>
    </button>
    <button onclick="changeForm()" class="mdl-button mdl-js-button">
        <i class="material-icons" id="view-mode">view_module</i>
    </button>
</div>
<div id="main" class="main-list">
    {% for (id,date,content) in note_list %}
    <div class="note">
        <div class="content">{{content}}</div>
        <div class="note-footer">
            <span class="date-stamp">{{date}}</span>
            <button onclick="location.href='/edit/{{id}}'" class="submit mdl-button mdl-js-button">
                <i class="material-icons">create</i>
            </button>
        </div>
    </div>
    {% end %}
</div>
</body>
</html>