<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>{{title}}</h3>
<pre>{{mesg}}</pre>
<form action="/" method="post">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised" style="background-color: cornflowerblue">전송</button> <br/>
    Title: <input name="title"/> <br/>
    <textarea name="mesg"></textarea>
</form>
</body>
</html>